<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<bean name="/ebook/ebookList" class="com.kurui.kums.ecis.ebook.action.EBookListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="ebookBiz">
			<ref bean="ebookBiz" />
		</property>
	</bean>
	<bean name="/ebook/ebook" class="com.kurui.kums.ecis.ebook.action.EBookAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="ebookBiz">
			<ref bean="ebookBiz" />
		</property>
		<property name="loginlogBiz">
			<ref bean="loginlogBiz" />
		</property>
	</bean>

	<bean id="ebookBiz" class="com.kurui.kums.ecis.ebook.biz.EBookBizImp">
		<property name="ebookDAO">
			<ref bean="ebookDAO" />
		</property>
	</bean>
	<bean id="ebookDAO" class="com.kurui.kums.ecis.ebook.dao.EBookDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="mongoTemplate">
			<ref bean="mongoTemplate" />
		</property>
	</bean>


</beans>